---

---

<div class="topnotice">
  <div class="container">
    <span
      ><span class="dot"></span><a
        href="https://pypi.org/project/myogen/"
        data-version-banner>v0.9.0 released</a
      > · preprint on <a
        href="https://www.biorxiv.org/content/10.64898/2026.01.01.697284"
        >bioRxiv</a
      ></span
    >
    <span
      ><a href="https://doi.org/10.64898/2026.01.01.697284"
        >doi:10.64898/2026.01.01.697284</a
      ></span
    >
  </div>
</div>
